In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load dataset
sales_df = pd.read_csv('pdv_lineas.csv')
# Display dataframe
sales_df.head()

,id,order_id,create_date,product_id,create_uid,qty,price_unit,price_subtotal
0,1,LA VICTORIA (QRO)/0001,2022-03-31 23:36:31,"[19767, 'CHIPS EXPRESS TELCEL ""00""']",Emilio Segura De Echavarri,1.0,0.01,0.01
1,2,ALMACEN CENTRAL0002,2022-04-01 03:53:46,"[19767, 'CHIPS EXPRESS TELCEL ""00""']",Emilio Segura De Echavarri,1.0,0.01,0.01
2,3,GUERRERO (QRO)0001,2022-04-01 15:58:53,"[22761, 'FDA SAM A03 CAM-ANILLO-10D NGO']",SUC. GUERRERO (QRO),1.0,145.69,145.69
3,4,GUERRERO (QRO)0002,2022-04-01 15:59:45,"[20705, 'FDA IPH 11 SILIC.OR RJO']",SUC. GUERRERO (QRO),1.0,145.69,145.69
4,5,VALLARTA (VTA)0001,2022-04-01 16:03:05,"[25851, 'SOPORTE SISTEMA DE GRAVEDAD STF']",SUC. VALLARTA (VTA),1.0,102.59,102.59

In [3]:
# Verify data types
sales_df.dtypes

id                  int64
order_id           object
create_date        object
product_id         object
create_uid         object
qty               float64
price_unit        float64
price_subtotal    float64
dtype: object

In [4]:
#Convert date to datetime and rename column create_date to date
sales_df["create_date"] = sales_df["create_date"].astype('datetime64[ns]')
sales_df = sales_df.rename(columns={'create_date': 'date'})
sales_df.head()

,id,order_id,date,product_id,create_uid,qty,price_unit,price_subtotal
0,1,LA VICTORIA (QRO)/0001,2022-03-31 23:36:31,"[19767, 'CHIPS EXPRESS TELCEL ""00""']",Emilio Segura De Echavarri,1.0,0.01,0.01
1,2,ALMACEN CENTRAL0002,2022-04-01 03:53:46,"[19767, 'CHIPS EXPRESS TELCEL ""00""']",Emilio Segura De Echavarri,1.0,0.01,0.01
2,3,GUERRERO (QRO)0001,2022-04-01 15:58:53,"[22761, 'FDA SAM A03 CAM-ANILLO-10D NGO']",SUC. GUERRERO (QRO),1.0,145.69,145.69
3,4,GUERRERO (QRO)0002,2022-04-01 15:59:45,"[20705, 'FDA IPH 11 SILIC.OR RJO']",SUC. GUERRERO (QRO),1.0,145.69,145.69
4,5,VALLARTA (VTA)0001,2022-04-01 16:03:05,"[25851, 'SOPORTE SISTEMA DE GRAVEDAD STF']",SUC. VALLARTA (VTA),1.0,102.59,102.59

In [5]:
# Verify data types
sales_df.dtypes

id                         int64
order_id                  object
date              datetime64[ns]
product_id                object
create_uid                object
qty                      float64
price_unit               float64
price_subtotal           float64
dtype: object

In [6]:
# Eliminating rows where create_uid cell, doesn't start with 'SUC'
new_sales_df= sales_df['create_uid'].str.startswith('SUC')
sales_df= sales_df.loc[new_sales_df,['id', 'order_id', 'date', 'product_id', 'create_uid',
                                                                'qty', 'price_unit', 'price_subtotal']]
sales_df.head()

,id,order_id,date,product_id,create_uid,qty,price_unit,price_subtotal
2,3,GUERRERO (QRO)0001,2022-04-01 15:58:53,"[22761, 'FDA SAM A03 CAM-ANILLO-10D NGO']",SUC. GUERRERO (QRO),1.0,145.69,145.69
3,4,GUERRERO (QRO)0002,2022-04-01 15:59:45,"[20705, 'FDA IPH 11 SILIC.OR RJO']",SUC. GUERRERO (QRO),1.0,145.69,145.69
4,5,VALLARTA (VTA)0001,2022-04-01 16:03:05,"[25851, 'SOPORTE SISTEMA DE GRAVEDAD STF']",SUC. VALLARTA (VTA),1.0,102.59,102.59
5,6,ALLENDE (QRO) (2do)0001,2022-04-01 16:20:16,"[19227, 'AUDIFONO KIGO VIOLETA']",SUC. ALLENDE (QRO)(2DO),1.0,25.00,25.00
6,7,ALLENDE (QRO) (2do)0001,2022-04-01 16:20:16,"[19259, '[AUT117] AUDÍFONOS 1HORA 3.5MM AUT117...",SUC. ALLENDE (QRO)(2DO),1.0,68.10,68.10

In [7]:
# Count if there is any 'False' values within our Df
false_df = (sales_df == 'False').sum().sum()
print(f"There are {false_df } 'False' values in the data frame.")

There are 0 'False' values in the data frame.

In [8]:
new_df = sales_df['product_id'].str.split(', ', n=1, expand=True).rename(columns={0:'Product_ID', 1:'Description'})
new_df['Product_ID'] = new_df['Product_ID'].str.replace("[","")
new_df['Description'] = new_df['Description'].str.replace("[","")
new_df['Description'] = new_df['Description'].str.replace("]","")
new_df['Description'] = new_df['Description'].str.replace("'","")
new_df

/var/folders/lv/mlzsmycd0779gnh3s95csll00000gn/T/ipykernel_2746/1910645473.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new_df['Product_ID'] = new_df['Product_ID'].str.replace("[","")
/var/folders/lv/mlzsmycd0779gnh3s95csll00000gn/T/ipykernel_2746/1910645473.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new_df['Description'] = new_df['Description'].str.replace("[","")
/var/folders/lv/mlzsmycd0779gnh3s95csll00000gn/T/ipykernel_2746/1910645473.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new_df['Description'] = new_df['Description'].str.replace("]","")

       Product_ID                                 Description
2           22761              FDA SAM A03 CAM-ANILLO-10D NGO
3           20705                     FDA IPH 11 SILIC.OR RJO
4           25851             SOPORTE SISTEMA DE GRAVEDAD STF
5           19227                       AUDIFONO KIGO VIOLETA
6           19259  AUT117 AUDÍFONOS 1HORA 3.5MM AUT117 BLANCO
...           ...                                         ...
153502      20682          FDA IPH 11 SILIC.ARCOIRIS AZUL/ROS
153503      25506             MICA HIDRO TRANSPARENTE CELULAR
153504      25526                      MICRO SD-HC 16GB CL-10
153505      19673      CARGADOR + CABLE DIMOVIL 3.0 MICRO USB
153506      31393                      CORN 3G-GT10 X/X NEGRO

[153421 rows x 2 columns]

In [9]:
# Creating a new dataframe joining sales_df and new_df
new_sales_df = pd.concat([sales_df,new_df], axis = 1)
new_sales_df = new_sales_df.drop(columns = ['product_id', 'order_id'])
new_sales_df

,id,date,create_uid,qty,price_unit,price_subtotal,Product_ID,Description
2,3,2022-04-01 15:58:53,SUC. GUERRERO (QRO),1.0,145.690000,145.69,22761,FDA SAM A03 CAM-ANILLO-10D NGO
3,4,2022-04-01 15:59:45,SUC. GUERRERO (QRO),1.0,145.690000,145.69,20705,FDA IPH 11 SILIC.OR RJO
4,5,2022-04-01 16:03:05,SUC. VALLARTA (VTA),1.0,102.590000,102.59,25851,SOPORTE SISTEMA DE GRAVEDAD STF
5,6,2022-04-01 16:20:16,SUC. ALLENDE (QRO)(2DO),1.0,25.000000,25.00,19227,AUDIFONO KIGO VIOLETA
6,7,2022-04-01 16:20:16,SUC. ALLENDE (QRO)(2DO),1.0,68.100000,68.10,19259,AUT117 AUDÍFONOS 1HORA 3.5MM AUT117 BLANCO
...,...,...,...,...,...,...,...,...
153502,160925,2023-02-24 18:02:15,SUC. BOULEVARES (QRO),1.0,257.758621,257.76,20682,FDA IPH 11 SILIC.ARCOIRIS AZUL/ROS
153503,160926,2023-02-24 18:02:15,SUC. BOULEVARES (QRO),1.0,257.760000,257.76,25506,MICA HIDRO TRANSPARENTE CELULAR
153504,160927,2023-02-24 18:04:02,SUC. CORREGIDORA 2 (QRO) (2DO),1.0,85.340000,85.34,25526,MICRO SD-HC 16GB CL-10
153505,160928,2023-02-24 18:09:22,SUC. LEON CENTRO (LEON) (2DO),1.0,128.448276,128.45,19673,CARGADOR + CABLE DIMOVIL 3.0 MICRO USB
153506,160929,2023-02-24 18:09:32,SUC. ALLENDE (QRO)(2DO),1.0,343.970000,343.97,31393,CORN 3G-GT10 X/X NEGRO

In [10]:
# Modifying branches names
new_sales_df['create_uid']= new_sales_df['create_uid'].replace({'SUC. ALLENDE (QRO)(2DO)': 'SUC. ALLENDE (QRO)',
                                                                'SUC. LEON CENTRO (LEON) (2DO)' : 'SUC. LEON CENTRO (LEON)',
                                                                'SUC. CORREGIDORA 4 (QRO) (2DO)' : 'SUC. CORREGIDORA 4 (QRO)',
                                                                'SUC. CORREGIDORA 2 (QRO) (2DO)' : 'SUC. CORREGIDORA 2 (QRO)'})
new_sales_df

,id,date,create_uid,qty,price_unit,price_subtotal,Product_ID,Description
2,3,2022-04-01 15:58:53,SUC. GUERRERO (QRO),1.0,145.690000,145.69,22761,FDA SAM A03 CAM-ANILLO-10D NGO
3,4,2022-04-01 15:59:45,SUC. GUERRERO (QRO),1.0,145.690000,145.69,20705,FDA IPH 11 SILIC.OR RJO
4,5,2022-04-01 16:03:05,SUC. VALLARTA (VTA),1.0,102.590000,102.59,25851,SOPORTE SISTEMA DE GRAVEDAD STF
5,6,2022-04-01 16:20:16,SUC. ALLENDE (QRO),1.0,25.000000,25.00,19227,AUDIFONO KIGO VIOLETA
6,7,2022-04-01 16:20:16,SUC. ALLENDE (QRO),1.0,68.100000,68.10,19259,AUT117 AUDÍFONOS 1HORA 3.5MM AUT117 BLANCO
...,...,...,...,...,...,...,...,...
153502,160925,2023-02-24 18:02:15,SUC. BOULEVARES (QRO),1.0,257.758621,257.76,20682,FDA IPH 11 SILIC.ARCOIRIS AZUL/ROS
153503,160926,2023-02-24 18:02:15,SUC. BOULEVARES (QRO),1.0,257.760000,257.76,25506,MICA HIDRO TRANSPARENTE CELULAR
153504,160927,2023-02-24 18:04:02,SUC. CORREGIDORA 2 (QRO),1.0,85.340000,85.34,25526,MICRO SD-HC 16GB CL-10
153505,160928,2023-02-24 18:09:22,SUC. LEON CENTRO (LEON),1.0,128.448276,128.45,19673,CARGADOR + CABLE DIMOVIL 3.0 MICRO USB
153506,160929,2023-02-24 18:09:32,SUC. ALLENDE (QRO),1.0,343.970000,343.97,31393,CORN 3G-GT10 X/X NEGRO

In [11]:
# Reorganize the order of our index - columns
new_sales_df = new_sales_df[['id', 'date', 'Product_ID', 'Description',
       'qty', 'create_uid', 'price_unit', 'price_subtotal']]
new_sales_df.head()

,id,date,Product_ID,Description,qty,create_uid,price_unit,price_subtotal
2,3,2022-04-01 15:58:53,22761,FDA SAM A03 CAM-ANILLO-10D NGO,1.0,SUC. GUERRERO (QRO),145.69,145.69
3,4,2022-04-01 15:59:45,20705,FDA IPH 11 SILIC.OR RJO,1.0,SUC. GUERRERO (QRO),145.69,145.69
4,5,2022-04-01 16:03:05,25851,SOPORTE SISTEMA DE GRAVEDAD STF,1.0,SUC. VALLARTA (VTA),102.59,102.59
5,6,2022-04-01 16:20:16,19227,AUDIFONO KIGO VIOLETA,1.0,SUC. ALLENDE (QRO),25.00,25.00
6,7,2022-04-01 16:20:16,19259,AUT117 AUDÍFONOS 1HORA 3.5MM AUT117 BLANCO,1.0,SUC. ALLENDE (QRO),68.10,68.10

In [12]:
# Define a list of words that represent devices
accesories_words = ['MICA', 'MICRO', 'SOPORTE', 'GLASS', 'SIM', 'TARJETA', 'TIEMPO AIRE', 'OTTER' , 
                    'ADAPTADOR DE CORRIENTE', 'USB', 'FLASH DRIVE', 'AUDIFONO', 'AUDÍFONOS', 'FDA',
                   'CARGADOR', 'PORTA', 'CABLE', 'TABLET', 'SD', 'ddd']

# Check which rows contain any of the accesories-related words
is_device = new_sales_df['Description'].str.contains('|'.join(accesories_words))

# Invert the boolean values to select only the rows where no accesories-related words are present
sales_devices_df = new_sales_df[~is_device]
# Displays dataframe with only cellphones
sales_devices_df

,id,date,Product_ID,Description,qty,create_uid,price_unit,price_subtotal
10,11,2022-04-01 16:33:19,19436,BLU C5-2019 1/16 GRIS,1.0,SUC. LA CRUZ (QRO),1206.03,1206.03
11,12,2022-04-01 16:39:53,25586,MOTO E7I-POWER 2/32 AZUL KIT,1.0,SUC. HIDALGO 2 (CELAYA),2654.31,2654.31
18,19,2022-04-01 16:53:56,25957,XIAOMI MI SMART BAND 6 NGO,1.0,SUC. HIDALGO 2 (CELAYA),775.00,775.00
22,23,2022-04-01 17:09:11,25990,XIAOMI REDMI-BUDS-3 BLANCO,1.0,SUC. CONSTITUYENTES (QRO),861.21,861.21
43,44,2022-04-01 17:44:22,25740,SAM A03-CORE 2/32 NGO,1.0,SUC. CORREGIDORA 3 (QRO),2499.14,2499.14
...,...,...,...,...,...,...,...,...
153487,160909,2023-02-24 17:26:27,26053,ZTE L8 1/32 NEGRO,1.0,SUC. CORREGIDORA 3 (QRO),1033.62,1033.62
153490,160912,2023-02-24 17:35:21,31000,APPLE IPHONE-11 4/64 BLANCO KIT,1.0,SUC. PLAZA PATIO (QRO),9481.90,9481.90
153496,160919,2023-02-24 17:44:44,26578,MOTO G41 4/128 NEGRO,1.0,SUC. ALLENDE (QRO),3275.00,3275.00
153498,160921,2023-02-24 17:47:18,25533,MOTO E20 2/32 AZUL,1.0,SUC. PLAZA PATIO (QRO),1723.28,1723.28
153506,160929,2023-02-24 18:09:32,31393,CORN 3G-GT10 X/X NEGRO,1.0,SUC. ALLENDE (QRO),343.97,343.97

In [13]:
# Export the final DataFrame to a CSV file
sales_devices_df.to_csv('ventas_contado_devices.csv', index=False)